* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #15616d;
    background-color: #ffecd1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 50px;
}

.btn {
    background-color: #f5963d;
    color: #15616d;
    border: 2px solid #15616d;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #f5963db2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #650286;
}

nav a:hover {
    text-shadow: 1px 1px 10px rgb(181, 136, 189);
}

#welcome-content {
    text-align: center;
}

#welcome-content p {
    width: 50%;
    margin: 0 auto 20px auto;
    font-size: 20px;
}

#questions {
    text-align: center;
    font-size: 30px;
    
}



h3 {
    font-size: 40px;
}


.q-a-div {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}



.alert {
    font-size: 25px;
    width: 50%;
    border-top: 2px dashed #15616d7c;
    color: #15616dc4;
    margin: 0 auto;
    padding-left: 10px;
}

input {
    padding: 10px 5px;
    font-size: 24px;
    margin-right: 10px;
}

.score-form {
    margin-top: 15px;
}

/* highscore page */
.content {
    margin: 0 auto;
}

ul {
    padding: 0;
}

li {
    background-color: aliceblue;
    border-radius: 10px;
    list-style: none;
    font-size: 24px;
    padding: 5px;
    margin: 5px;
}

